#cart-display.empty {
  height: 100%;
  background: url(/img/empty_cart.svg) center center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}
.cart-item-card {
  padding: 0.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  box-shadow: var(--product-card-shadow);
}

.cart-item-card-item-name {
  font-size: 110%;
  /* font-weight: 700; */
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0rem 0.5rem;
}
.cart-item-card-item-body-wrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
.cart-item-card-item-body-right {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: flex-end;
  gap: 0.5rem;
  width: 70%;
  justify-content: space-between;
}
img.cart-item-card-image {
  width: 30%;
}

input.cart-item-card-quantity {
  width: 50%;
  padding: 0.25rem;
  border: 1px solid var(--theme-color);
  border-radius: 3px;
  margin-left: 0.5rem;
}
input.cart-item-card-quantity:focus {
  border-color: #2eff45;
}
.quantity-wrapper {
  display: flex;
  justify-content: space-between;
}
.cart-item-card-item-body-left {
  width: 30%;
}
.cart-item-card-item-price-wrapper {
  display: flex;
  flex-direction: column;
}
.cart-item-card-item-sale-price {
  font-size: 110%;
  font-weight: 700;
  color: var(--theme-color);
}
.cart-item-card-item-sale-price:before,
.cart-item-card-item-regular-price:not(:empty)::before {
  content: "₹";
  font-family: roboto;
  padding-right: 0.25rem;
}
.cart-notifications {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.notice {
  width: 100%;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: var(--product-card-shadow);
}
.notice.danger {
  background: #f44336;
  color: #fff;
}

.cart-item-card-item-regular-price {
  color: #bcbcbc;
  font-size: 80%;
  text-decoration: line-through;
  padding: 0rem 0.25rem 0rem 0rem;
}

.cart-item-card-item-offer {
  color: #28e181;
}
.cart-item-card-item-offer:not(:empty)::after {
  content: " %off";
}
input.cart-item-card-quantity.error {
  border-color: #f44336;
}

/* coupons */

.coupon-form-wrapper {
  padding: 0.5rem;
}

section.coupon-form-container {
  padding: 1rem;
  box-shadow: var(--product-card-shadow);
  border: 1px solid #eee;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.coupon-form {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

input.coupon-form-input {
  flex-grow: 1;
  border: 1px solid var(--theme-color);
  outline: none;
  border-radius: 6px;
  max-width: 60%;
}

/* applied coupons  */

.applied-coupons-wrapper {
  padding: 0.5rem;
}

.coupon-card {
  padding: 1rem;
  box-shadow: var(--product-card-shadow);
  border: 1px solid #eee;
  border-left: 0.5rem solid var(--theme-color);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
section.applied-coupons-container {
  padding: 0px;
  padding-top: 1rem;
}
.coupon-card ons-icon {
  color: var(--theme-color);
}

/* cta  */

.cart-cta-wrapper {
  position: sticky;
  bottom: 0px;
  background: #fff;
  padding: 0.5rem 1.5rem;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 50%);
  margin-top: 1rem;
}

.cart-cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-cta-totalPrice > strong > span {
  font-family: Roboto;
}
.cart-cta-totalPrice {
  font-size: 130%;
}

/* total card  */

.cart-totals-wrapper {
  padding: 1rem;
  margin: 1rem 0rem;
  box-shadow: 0px 0px 11px -6px rgb(0 0 0 / 46%);
}
.cart-totals-container {
  padding: 0.5rem 0rem;
}
.cart-totals-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-totals-totalPrice {
  margin-top: 1rem;
  border-top: 1px solid var(--theme-color);
  border-top-style: dotted;
  padding-top: 0.25rem;
}
