/* loader */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.62);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  padding: 2rem;
}

.loader svg {
  overflow: inherit;
  transform: scale(0.7);
}
/* svg styling */

/* outer circle; */

#pXOXTFOFx {
  /* stroke-dasharray: 55000; */
  /* stroke-width: 10; */
  /* fill:rgb(255, 255, 255, 0); */
  transform-origin: center;
  opacity: 0;
  animation: iconCircleAnimation 1.4s 1.4s cubic-bezier(0.645, 0.045, 0.355, 1)
    infinite forwards;
}

@keyframes iconCircleAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}
#l1B2Al3tGD149AfrB0YlyPL path {
  transform-origin: center;
  /* transform: translate(-50%, 0px); */
  animation: rollCart 1.4s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    forwards;
}

@keyframes rollCart {
  0% {
    transform: translate(-100%, 0px);
  }
  60% {
    transform: translate(0%, 0px);
  }
  70% {
    transform: translate(0%, 0px);
  }
  100% {
    transform: translate(150%, 0px);
  }
}

#lqLufP9Sd6Khzrm0onM6Ac path,
#l4kn9DPJ6h9dgr3oRr7kzkw path {
  transform-origin: center;
  animation: scaleLogo 1.4s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    forwards;
}

@keyframes scaleLogo {
  0% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1) translate(0%, 0px);
  }
  70% {
    transform: scale(1) translate(0%, 0px);
  }
  100% {
    transform: translate(150%, 0px);
  }
}
