#masthead {
    background: #767676;
    color: #fff!important;
    display: none;
}
#wpadminbar{
    display: none;
}
ul.products::before, ul.products::after {
    content: "";
    display: none;
}
ul.products, .wc-block-grid__products {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-auto-rows: 1fr;
    padding: 0.5rem;
}

ul.products li.product .button {
    display: none;
}

ul.products li.product .price {
    margin-bottom: 0px;
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 80%;
    /* width: 100%; */
    /* text-overflow: clip; */
    /* overflow: hidden; */
    font-weight: bold;
}

del span.woocommerce-Price-amount.amount bdi {
    /* color: red; */
    /* transform: scale(0.5); */
    font-size: medium;
}

ul.products li.product img, ul.products .wc-block-grid__product img, .wc-block-grid__products li.product img, .wc-block-grid__products .wc-block-grid__product img {
    /* display: block; */
    margin: 0 auto 0.5rem;
}

ul.products li.product, ul.products .wc-block-grid__product, .wc-block-grid__products li.product, .wc-block-grid__products .wc-block-grid__product {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #00000017;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 3px 9px 20px -15px black;
}

.onsale{
    position: absolute;
    top: 5%;
    left: 0%;
    background: #22b066;
    border: #22b066;
    font-size: 70%;
    padding: 0.2rem 0.5rem;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}

span.woocommerce-Price-currencySymbol {
    margin-right: 8px;
}
small.woocommerce-price-suffix {
    display: none;
}
main#main {
    padding: 1rem;
}

select {
    font-size: 100%;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    font-size: 110%;
    font-weight: bold;
}

.col-full {
    margin-left: 1.41575em;
    margin-right: 1.41575em;
    padding: 0;
    margin: 0px;
}

.woocommerce-products-header {
    display: none;
}

.woocommerce-result-count{
    padding: 0rem 0.5rem;
    font-size: 110%;
    font-weight: 500;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

.storefront-sorting {
    font-size: .875em;
    /* margin-bottom: 2.617924em; */
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.storefront-sorting:nth-child(4){
    display:none;
}

.site-info {
    padding: 2.617924em 0;
    display: none;
}