.mam-slideshow-container {
    padding-top: 0.5rem;
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mam-slides {
    display: none;
  }

.mam-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

/* Next & previous buttons */
.mam-prev, .mam-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .mam-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .mam-prev:hover, .mam-next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .mam-dot-container{
    text-align:center;
  }
  .mam-slider-dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .mam-slider-active, .mam-slider-dot:hover {
    background-color: #717171;
  }
  

/* Fading animation */
.mam-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  
/* ///////////////////////////////////flex slider styles///////////////////////////// */

.flex-slider{
  display:flex;
  width:100%;
  position:relative;
  max-width: 100%;
  overflow-x: auto;
}

.flex-slide{
  width:100%;
  padding:0rem 0.25rem 0rem 0rem;

}
.flex-slide:first-child{
  padding-left: 0.25rem;
}

.flex-slide img{
  width:300px;
  max-width: 350px;
  border: 1px solid transparent;
  border-radius: 10px;
}