@import "includes/slider.css";
@import "includes/splashScreen.css";
@import "includes/loader.css";
@import "includes/home-page-category.css";
@import "includes/reload.css";
@import "includes/bottom-navigation.css";
@import "includes/search.css";
*{
  box-sizing: border-box;
  font-family: sans-serif;
}

/* main llogo */

.main-logo{
    width:100%;
    
}

/*  offer container */
.offfers{
  padding: 0.5rem 0rem;
}

.skelton-loader{
  display: block;
  background: linear-gradient(90deg, transparent,rgba(255, 255, 255, 0.2), transparent),rgb(230, 230, 230);
  background-repeat: repeat-y;        
  background-size: 50px 200px;        
  background-position: -100% -100%; 
  animation: shine 1s infinite;	  

}

@keyframes shine {	
  to {
    background-position: 100% 100%;
  }
}

.skeleton-loader-gradient {

  display: block;
  /* background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray; */
  background: linear-gradient(90deg, transparent,rgba(255, 255, 255, 0.2), transparent),rgb(219, 212, 212);
  background-repeat: repeat-y;        
  background-size: 50px 200px;        
  background-position: -100% -100%;           
}

.toolbar-header{
  font-weight: bold;
  text-transform: capitalize;
  padding: 0rem 0.25rem;
  color: #22b066;
}

.page__content.page--material__content {
  padding-bottom: 3.5rem;
}